<h2>Register</h2>
<form method="POST" action="/register">
  <label>Username: <input name="username" required></label><br>
  <label>Email: <input type="email" name="email" required></label><br>
  <label>Display Name: <input name="displayName" required></label><br>
  <label>Password: <input type="password" name="password" required></label><br>
  <button type="submit">Register</button>
</form>

{{#if error}}
<p style="color:red;">{{error}}</p>
{{/if}}
