<h2>Reset Password</h2>
{{#if error}}
<div style="color: red; margin-bottom: 10px;">{{error}}</div>
{{/if}}
<form action="/reset-password/{{token}}" method="POST">
    <label for="password">New Password:</label><br>
    <input type="password" id="password" name="password" required><br><br>
    <button type="submit">Reset Password</button>
</form>